/* Write your code here. */
* {
  box-sizing: 0px;
}
body {
  margin: 0px;
}

.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-heading {
  color: #ffffff;
  font-family: "Bree Serif";
  font-size: 32px;
}
@media screen and (min-width: 768px) {
  .main-heading {
    font-size: 64px;
  }
}

.button-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .button-container {
    flex-direction: row;
  }
}

  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  height: 40px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
}
@media screen and (min-width: 768px) {
  .button {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

.like-Button {
  color: #ffffff;
  background-color: #eab308;
 
}
.comment-Button {
  color: #323f4b;
  background-color: #ffffff;
  
}

.save-Button {
  color: #ffffff;
  background-color: #1d4ed8;
 
}
